*.suo
*.user
*.userosscache
*.sln.docstates

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultInput.ini
Config/DefaultGame.ini
Config/DefaultEngine.ini

*.log
*.vs
.vscode/
*.tmp
*.bak
*.swp
*.sdf
*.sln.cache
*.db

Shaders/
Content/Developers/
Content/Collections/

*.uproject.sln
*.uprojectdirs
*.lock
*.iobj
*.ipch

Thumbs.db
Desktop.ini

Saved/Logs/
Saved/Crashes/
